@model BertholdAPIRest.Models.UserConfiguration

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserConfiguration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FacebookID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacebookID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Range)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Range)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnabledNotifications)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnabledNotifications)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
